/vendor
/node_modules
/public/build
/public/hot

.env
.env.*
!.env.example

/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

bootstrap/cache/*.php

.phpunit.cache
.phpunit.result.cache

coverage

.idea
.vscode
*.swp
*.swo

.DS_Store
Thumbs.db
